.bigcontainer {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-left: 50px;   */
    background-image: url('studentpage.jpg'); /* Add this line */
    background-size: cover; /* Optional: Adjust background size */ 
}
.container2 {
    max-width: 1500px;
    margin: 25px ;
    padding: 50px;
    background-color: #7cd5d7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width:210px;
    max-height:160px; 
    transition: border-width 0.3s, transform 0.3s; 
    
}
.container2:focus{
   border-color:brown;
   border-width: 20px;
}

.container2 h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #413f3f;
}

.category-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:190px;
    max-height:145px;
    margin:-25px;
    overflow:hidden;
    transition: border-width 0.3s, transform 0.3s;
}
.categoryURL{
    min-width: 190px;
    min-height: 145px; 
}
/* .category-box:focus-within {
    border-width: 10px; /* Increase border width on focus */
    /* transform: translateY(-5px); Move element vertically on focus */
    /* border-color:rgb(151, 7, 7);  */

.category-box h3{
    color: #e5d7d7;
}
.category h3 {
    margin-bottom: 10px;
    color: #e8dada;
}

button {
    padding: 8px 16px;
    background-color: #1997e5;
    color: #b02323;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
    font-size: 20px;
}

button:hover {
    background-color:rgb(196, 77, 13);
}