*{
    box-sizing:content-box;
}
.bigcontainer {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:900px;
    /* margin-left: 50px;   */
    background-image: url('https://wallpapercave.com/wp/wp2903050.jpg'); /* Add this line */
    background-size: cover; /* Optional: Adjust background size */ 
}
.container2 {
    /* max-width: 1500px; */
    margin: 25px ;
    padding: 30px;
    background-color: #c08e6c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width:300px; */
    width:250px;
    height:250px;
    max-height:160px; 
    transition: border-width 0.3s transform 0.4s padding 2s;     
}
.container2:hover{
   background:  -webkit-linear-gradient(#7b8586, #d4c2cf);
   padding:31px;
   transition: padding 0.5s; 
}
 /* .container2:focus{
   background-color: #b81111;
   border-width: 20px;
}  */

.container2 h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #413f3f;
    
}

.category-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width:480px;
    height:210px;
    margin:-25px -65px;
    overflow:hidden;
    transition: border-width 0.3s, transform 0.3s;
}
.categoryURL{
    width:300px;
    height:250px;
    /* min-width: 190px;
    min-height: 145px;  */
    transition: border-width 0.3s, transform 0.3s;
}
/* .category-box:focus-within {
    border-width: 10px; /* Increase border width on focus */
    /* transform: translateY(-5px); Move element vertically on focus */
    /* border-color:rgb(151, 7, 7);  */

.category-box h2{
    color: #e5d7d7;
}
.category h2 {
    margin-bottom: 10px;
    color: #e8dada;
}

.Explore {
    padding: 16px 20px;
    background:-webkit-linear-gradient(#634c4c,#a9aea9);
    color: #eeeaea;
    font-size: 1.1rem;
    border-color: rgb(176, 189, 189);
    border-radius: 25px;
    cursor: pointer;
    margin: 80px 160px;
    transition: 0.3s;
    
  }
  
  .Explore:hover {
    background:-webkit-linear-gradient(#645b7d,#dd86b1);
    
  }