.container1 {
  margin-top: 10px;
  height: 700px;
  background-color: #96c6a2; 
  padding: 20px; 
  border-radius: 10px; 
  background-image: url('niceimg.jpg');
  background-size: cover;
  background-repeat: no-repeat ;
}

.display-4 {
  margin:40px 380px;
  font-size: 2.5rem;
  font-weight: bold;
  color: #20c28f; 
}

.lead {
  margin: 30px 320px;
  font-size: 1.9rem;
  font-weight: 300;
  color: #c9135c; 
}
/* .message{
  margin: 5px 300px;
  font-size: 1.2rem;
  font-weight: 150;
  color: #5b78cf;
}
.message1{
  margin: 10px 370px;
  font-size: 1.1rem;
  font-weight: 150;
  color: #5b78cf;
} */

@media (max-width: 768px) {
  .col-md-4 {
    text-align: center;
    margin-top: 30px;
  }
}